/* GENERAL */

body {
  height: 100%;
  min-height: 100%;
  background: #fff;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  zoom: 1;
}

ul {
  list-style: none;
}

/* EVENT VIEW */

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  zoom: 1;
  background-image: url(background.jpg);
  z-index: 0;
}

.container {
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  min-height: 680px;
  min-width: 1000px;
}

.leftMenu {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 100px;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav li a {
  text-decoration: none;
  opacity: .8;
  color: #fff;
  width: 100px;
}

.nav li a:hover {
  opacity: 1;
}

.rightMenu {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 100px;
  text-align: right;
}

.event h3 {
  position: absolute;
  margin: 0;
  top: 4%;
  font-size: 1.8em;
  opacity: .9;
  letter-spacing: .05em;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-weight: lighter;
}

.time {
  position: absolute;
  top: 12%;
  width: 100%;
  text-align: center;
}

.time h1 {
  line-height: 1;
  padding: 0;
  margin: 0;
  letter-spacing: -.05em;
  font-size: 13em;
  font-weight: 700;
  cursor: default;
  -webkit-user-select: none;
}

.time h3 {
  letter-spacing: 0;
  white-space: nowrap;
  margin: 0;
  font-size: 2em;
  font-weight: 400;
}

.participants {
  position: absolute;
  bottom: 2%;
  -webkit-transform: translate(0,0);
  text-align: center;
  vertical-align: bottom;
  width: 100%;
  display: block;
  -webkit-transform-origin: 50% 50%;
    -webkit-transform-origin-x: 50%;
    -webkit-transform-origin-y: 50%;
    -webkit-transform-origin-z: initial;
}

.status {
  background-color: #fff;
  width: 75%;
  color: #333;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  opacity: .9;
  border-radius: 3px;
  position: relative;
}

.status ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;

}

.status ul li {
  display: inline-block;
  opacity: 1.0;
  padding: 9px;
  font-weight: 300;
}

.status ul li a {
  text-decoration: none;
  padding: .3em 1em;
  color: #fff;
  border-radius: 3px;
  font-size: .9em;
  background: #0e0e0e; /* Old browsers */
  background: -moz-linear-gradient(top,  #0e0e0e 0%, #7d7e7d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(100%,#7d7e7d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
}

.participants h3 {
  padding: 0;
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  opacity: .9;
}

.weather ul li {
  opacity: .8;
}

/* ADMIN VIEW */

.admin {
  position: absolute;
  width: 100%;
}

.admin .nav li a {
  color: #333;
}

.admin h1 {
  margin: 0;
  padding: 0;
}

.admin-time {
  margin: 0;
  padding: 0;
  opacity: .7;
}

.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 100px;
}

.userinfo {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 100px;
  text-align: right;
}

.events {
  float: right !important;
  margin-right: 100px !important;
}

.content {
  width: 70%;
  margin: 100px auto;
}

.table .username {
  font-weight: bold;
}

.table {
  height: 500px;
  overflow: auto;
}

.menu {
  float: left;
  margin: 140px 0 0 0px !important;
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:1.0s linear all;
  -moz-transition:1.0s linear all;
  -o-transition:1.0s linear all;
  transition:1.0s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:1.5s my_animation;
  -moz-animation:1.5s my_animation;
  -o-animation:1.5s my_animation;
  animation:1.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
