/* GENERAL */

html {
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  zoom: 1;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  color: #34495e;
  margin: .1em 0;
}

h4, h5, h6 {
  color: #000;
  opacity: .5;
  font-weight: normal;
  margin: .1em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

a {
  color: #34495e;
}

.text {
  color: #000;
  opacity: .3;
}


/* PROJECTOR VIEW */

.container {
  height: 100%;
}

.projector {
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  color: #fff;
  text-align: center;
  position: relative;
  height: 100%;
  background-color: #000;
  overflow: auto;
  background-image: url(../img/theWave.jpg);
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 1000px;
}

  .projector .eventInfo {
    margin: 10% auto;
    width: 60%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    z-index: 1;
  }

  .projector .title {
    padding: 25px 0px;
    z-index: 1;
  }

  .projector .title h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2.8em;
    letter-spacing: -.03em;
  }

  .projector .title h3 {
    color: #fff;
    opacity: .7;
    font-weight: 100;
  }

  .projector .info {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, .25);
  }

    .projector .infoIcon {
      float: left;
      font-size: 3em;
      height: 72px;
      margin-top: 15px;
      opacity: .7;
      margin-right: 0;
    }

    .projector .label {
      float: left;
    }

    .projector .info h2 {
      color: #fff;
      line-height: 72px;
      font-weight: 100;
      font-size: 1.8em;
      letter-spacing: -.05em;
    }

    .projector ul.info li {
      display: inline-block;
      height: 72px;
      margin-right: 30px;
    }

    .projector ul.info li.iconItem {
      display: inline-block;
      height: 72px;
      margin: 0;
      padding: 0;
    }


  .projector .countdown {
    width: 100px;
    text-align: center;
  }

  .projector .location {
    width: 100px;
    text-align: center;
  }

    .projector .info .countdown {
      color: #fff;

    }

    .projector .info .location {
      color: #fff;
    }

    .projector .names {
      padding: 25px 20px 25px 20px;
    }

    .projector .names ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;

    }

    .projector .names ul li {
      display: inline-block;
      padding: 9px;
      font-weight: 300;

    }

    .projector .names ul li a {
      padding: .6em .6em;
      color: #fff;
      border-radius: 3px;
      font-size: .9em;
      /* Fallback for web browsers that don't support RGBa */
      background-color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.15);

    }

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:1.0s linear all;
  -moz-transition:1.0s linear all;
  -o-transition:1.0s linear all;
  transition:1.0s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:1.5s my_animation;
  -moz-animation:1.5s my_animation;
  -o-animation:1.5s my_animation;
  animation:1.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.leftMenu {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 100px;
}



.admin-topbar .leftMenu {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 200px;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
}


.nav li a {
  text-decoration: none;
  opacity: .6;
  color: #fff;
  width: 100px;
}

.nav li img {
  height: 45px;
  width: 45px;
}

.admin-topbar .nav li a {
  text-decoration: none;
  opacity: .9;
  color: #fff;
}

.admin-topbar h3 {
  position: relative;
  margin-left: 62px;
  letter-spacing: -.05em;
  font-size: 1.2em;
  font-weight: 500; /* 700 */
  color: #34495E;
}

.admin-topbar h3 .io {
  font-style: normal;
  font-weight: 300;
}

.admin-topbar .nav li img {
  top: 13%;
  position: absolute;
  height: 50px;
  width: 46px;
}

.nav li a:hover {
  opacity: .9;
}

.rightMenu {
  position: absolute;
  top: 2%;
  right: 2%;
  width: auto;
  height: 100px;
  text-align: right;
}

.rightMenu .admin-name {
  opacity: .6;
}

.rightMenu .admin-name:hover {
  cursor: pointer;
  opacity: .7;
}

.rightMenu .admin-name.menuOpen {
  opacity: 1;
}

.rightMenu .highlight {
  position: absolute;
  top: -15px;
  right: 1%;
  height: 2px;
  background-color: rgba(236,240,241, 0);
  width: 95%;
}

.rightMenu .highlight.menuOpen {
  background-color: rgba(236,240,241, .9);
}

.subMenu {
  color: #34495E;
  position: absolute;
  text-align: left;
  border: 1px solid rgba(211,211,211, .2);
  text-shadow: none;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
  width: 130%;
  height: auto;
  background-color: rgba(255,255,255, 0);
  right: 1%;
  margin-top: 15px;
  border-radius: 2px;
  opacity: 0;
  z-index: 20;
}

.subMenu.show {
  opacity: 1;
  background-color: rgba(255,255,255, .9);
}

.subMenu .item {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 85%;
}

.subMenu i {
  color: rgba(39,58,71, .5);
}

.subMenu .item:hover i {
  color: white;
}

.subMenu .item:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(39,58,71, 1);
  width: 87%;
}

.subMenu .item:nth-of-type(1) {
  border-radius: 2px 2px 0 0;
}

.subMenu .item:nth-of-type(2) {
  border-radius: 0 0 2px 2px;
}

.subMenu .item.singleitem {
  border-radius: 2px 2px 2px 2px;
}

.event h1 {
  color: #fff;
  position: absolute;
  margin: 0;
  top: 4%;
  opacity: .9;
  letter-spacing: .05em;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-weight: lighter;
}

.minutes h2 {
  color: #fff;
  text-align: center;
  margin-top: 310px;
  position: relative;
}

.time {
  position: absolute;
  top: 12%;
  width: 100%;
  text-align: center;
}

.time h1 {
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #fff;
  letter-spacing: -.05em;
  font-size: 13em;
  font-weight: 700;
  cursor: default;
  -webkit-user-select: none;
}

.time h3 {
  letter-spacing: 0;
  white-space: nowrap;
  margin: 0;
  font-size: 2em;
  font-weight: 400;
}





.participants h3 {
  padding: 0;
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  opacity: .9;
}

.weather ul li {
  opacity: .8;
}

/* LOGIN VIEW */

.login {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ECF0F1;
  background-size: cover;
  zoom: 1;
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/squareoffice.jpg);

}

.login .login-box {
  background-color: #ffffff;
  opacity: .95;
  width: 245px;
  text-align: center;
  margin: 10% auto;
  padding: 30px 18px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
}

.login h1 {
  margin-top: 30px;
  letter-spacing: -.05em;
  font-size: 2em;
  font-weight: 700;
  color: #34495E;
  margin-bottom: 0;
  padding-bottom: 0;
}

.login h1 .io {
  font-style: normal;
  font-weight: 300;
}

.login h4 {
  margin-top: 10px;
  font-style: normal;
  font-weight: 300;
  color: #999999;
  margin-bottom: 0;
  padding-bottom: 0;
}

.login .divider {
  background-color: #ECF0F1;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.toast {
  z-index: 50;
  position: absolute;
  top: -100px;
  left: 0;
  width: 300px;
  height: 100px;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
}

.toast img {
  position: absolute;
  top: 25%;
  left: 10%;
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

.toast h3 {
  position: relative;
  left: 34%;
  top: 10%;
}

.toast h4 {
  position: relative;
  left: 34%;
  top: -10%;
  opacity: .7;
  font-weight: 300;
}

.toast .ontime {
  color: #89E4B7;
}

.toast .late {
  color: #EC4F43;
}

/* ADMIN VIEW */

.admin {
  background: white;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.rosterHeader {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 4%;
}

.participantHeader {
  padding-top: 40px;
  margin-left: 4%;
}

.tableControls {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
  height: 55px;
  padding-left: 36px;
}

  .tableControls .filterbox {
    float: left;
    width: 200px;
    margin: 9px 50px 0 0;
  }

  .tableControls .timeSelect {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #ccc;
  }

    .tableControls .timeSelect li {
      display: inline-block;
      padding-left: 10px;

    }

    .tableControls .timeSelect li::after {
      content: ' |';
    }

     .tableControls .timeSelect li:last-child:after
    {
      content: '';
    }

    .tableControls .timeSelect li a {
      padding-right: 10px;
      outline: none;
      cursor: pointer;
    }

    .tableControls .timeSelect li.selected a {
      font-style: bold;
      font-weight: 700;
    }

  .tableControls a {
    line-height: 55px;
    font-style: normal;
    font-weight: 300;
    font-size: .9em;
    text-decoration: none;
  }

  .tableControls .syncEvents {
    float: right;
    padding: 0 20px 0 0;
    margin: 0;
    list-style: none;
    width: 100px;
    text-align: right;
  }

.adminTable {
  min-width: 600px;
  width: 100%;
  border: 1px solid #efefef;
  text-align: left;
}

  .adminTable th {
    padding: 25px 0px 25px 36px;
    border-bottom: 1px solid #efefef;
    text-transform: uppercase;
    color: #000;
    font-style: normal;
    font-weight: 900;
    font-size: .9em;
    opacity: .4;
  }

  .adminRow:hover {
    background-color: #ecf0f1;
    cursor: pointer;
  }

  .adminTable tr td {
    padding-left: 36px;
    height: 3.5em;
    border-bottom: 1px dashed #e4e4e4;
  }

  .adminTable .eventTime, .adminTable .participantEmail {
    color: #000;
    opacity: .7;
    font-weight: 300;

  }

  .adminTable a {
    text-decoration: none;
    color: #34495e;
  }

  .adminTable td {
    color: #34495e;
  }

  .adminTable .setStatus-icon {
    opacity: .5;
    margin-right: 5px;
  }

  .adminTable .setStatus-icon:hover {
    opacity: 1;
    color: white;
  }

  .adminTable .ontime {
    color: #66BB6A;
  }

  .adminTable .late {
    color: #EC4F43;
  }

  .adminTable .excused {
    color: #3498DB;
  }

  .adminTable .absent {
    color: #666666;
  }

.topnav {
  position: absolute;
  width:100%;
  height: 75px;
  background-color: #ECF0F1;
}

.topnav .rightMenu {
  position: absolute;
  top: 20%;
  right: 2%;
  width: auto;
  height: 100px;
  text-align: right;
}

.sidebar {
  width: 206px;
  position: absolute;
  height: 100%;
  background-color: #273A47;
  color: white;
}

.sidebar-logo {
  position: relative;
  height: 75px;
  background-color: #34495E;
  padding-left: 20px;
}

.sidebar-logo img {
  position: absolute;
  top: 22px;
  width: 30px;
  height: 33px;
}

.sidebar-logo h3 {
  position: absolute;
  top: 22px;
  left: 64px;
  letter-spacing: -.02em;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  color: white;
}

.sidebar-logo h3 .io {
  font-style: normal;
  font-weight: 100;
}

.admin-menu {
  position: relative;
}

.admin-menu .menu-item {
  padding: 10px 20px;
  font-weight: 300;
}

.admin-menu .menu-item:hover {
  cursor: pointer;
  background-color: rgba(255,255,255, .4);

}

.admin-menu .menu-item i {
  opacity: .7;

}

/* changes line color on active admin-menu item to our highlight */
.admin-menu .menu-item.active {
  box-shadow: 4px 0 0 #EC4F43 inset !important;
  background-color: #1f2d38;
}

.admin .nav li a {
  color: #333;
}

.admin h1 {
  margin: 0;
  padding: 0;
}

.admin-time {
  margin: 0;
  padding: 0;
  opacity: .7;
}

.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 100px;
}

.events {
  margin-left: 207px !important;
}

.beaconsHeader {
  height: 70px;
  padding: 40px 0px 0px 36px;
}

.beaconsHeader h1 {
  float: left;
  width: 50%;
}

.addBeacon {
  position: relative;
  padding: 40px 100px 0px 36px;
  border: 1px solid #efefef;
  background-color: rgba(236,239,241, .2);
  display: none;
}

.addBeacon h3 {
  padding-bottom: 30px;
}

.addBeacon .bigFields {
  width: 46%;
}

.addBeacon .buttons {
  width: 46%;
  padding-bottom: 40px;
}

.addBeacon-toggle {
  float: right;
  color: #ffffff;
}

.current-event-card {
  position: relative;
  padding: 40px 0px 0px 36px;
  height: 76px;
  box-shadow: 7px 0 0 #89e4b7 inset;
  border: 1px solid #efefef;
}

  .current-event-card .title {
    width: 30%;
    float: left;
  }

  .current-event-card i {
    padding-right: 10px;
  }

  .current-event-card h2 {
    padding: 0;
    margin: 0;
    color: #34495e;
    font-style: normal;
    font-weight: 400;
  }

  .current-event-card .checkIn {
    float: left;
    width: 20%
  }

  .current-event-card .buttons {
    float: right;
    padding-right: 20px;
  }

  .current-event-card .buttons a {
    color: #ffffff;
  }

.content {
  width: 70%;
  margin: 75px auto;
  min-width: 753px;
}

.table .username {
  font-weight: bold;
}

.table {
  height: 500px;
  overflow: auto;
}

.menu {
  float: left;
  margin: 140px 0 0 0px !important;
}

#chart {
  padding: 10px 0 10px;
  border-radius: 5px;
}

#chart div {
  text-align: left;
  padding: 3px;
  margin: 4px;
  height: 25px;
}

.history-stats {
  width: 0px;
  height: 30px;
  margin: 1px;
  opacity: 0;
}

.history-stats span{
  margin-left: 5px;
  display: inline;
  line-height: 1.5em;
}

.history-stats strong{
  opacity: 0;
  margin-left: 2px;
  font-size: 1.2em;
}

#history-stats-ontime {
  color: #ffffff;
  background-color: #66BB6A;
}

#history-stats-late {
  color: #ffffff;
  background-color: #EC4F43;
}

#history-stats-absent {
  color: #ffffff;
  background-color: #666666;
}

#history-stats-excused {
  color: #ffffff;
  background-color: #3498DB;
}


