// Usage: Copy this file to config.js and replace each value below.

module.exports = {
  google: {
    clientId: '',
    clientSecret: ''
  },
  mysqlConnection: {
    host     : '',
    user     : '',
    password : '',
    database : ''
  },
  resetDatabaseOnLoad: true,
  pubnub: {
    publish_key:    '',
    subscribe_key:  ''
  }
};
