// Usage: Copy this file to config.js and replace each value below.

// jscs: disable requireCamelCaseOrUpperCaseIdentifiers

module.exports = {
  mysqlConnection: {
    host     : '',
    user     : '',
    password : '',
    database : ''
  },
  resetDatabaseOnLoad: true,
  pubnubConnection: {
    publish_key:    'Sandbox',
    subscribe_key:  'Sandbox',
    channel:        '',
    user:           ''
  }
};

// jscs: enable requireCamelCaseOrUpperCaseIdentifiers
