// Usage: Copy this file to config.js and replace each value below.

module.exports = {
  publish_key:    'subscription key',
  subscribe_key:  'publish key',
  channel:        'your channel',
  user:           'your user'
};
