[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.event-timestamp {
  text-align: right;
  color: gray;
  margin-right: 30px;
}

.checkin-status {
  font-size: 2em;
  margin: 15px;
}

.checkin-status i {
  margin-right: 10px;
}

.checkin-status-notyet {
  color: red;
}

.checkin-status-here {
  color: green;
}

.checkin-status-late {
  color: orange;
}

.splash {
	background: url('../img/snow_peak-HD.jpg');
}

.logo-image {
	text-align: center;
	height: 100px;
	width: 100px;
}

.register {
  color: #FFF !important;
}

input.register {
  font-size: 1.3em;
}

.item ::-webkit-input-placeholder {
   color: #edd;
}

.item :-moz-placeholder { /* Firefox 18- */
   color: red;
}

.item ::-moz-placeholder {  /* Firefox 19+ */
   color: red;
}

.item :-ms-input-placeholder {
   color: red;
}
