@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  font-family: 'Lato';
}

.event-timestamp {
  text-align: right;
  color: gray;
  margin-right: 30px;
}

.checkin-status {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin: 30px;
}

.checkin-status i {
  font-size: 4em;
  display: block;
}

.checkin-status i {
  margin-right: 10px;
}

.splash {
  background: url('../img/snow_peak-HD.jpg');
}

.splash-error {
  color: red;
  font-weight: bold;
}

.status, .upcoming {
  background-color: gray;
  color: #fff;
  width: 100%;
  text-align: center !important;
}

.status-heading {
  color: #fff;
}

.logo-image {
  text-align: center;
  height: 100px;
  width: 100px;
}

.register {
  color: #FFF !important;
}

input.register {
  font-size: 1.3em;
}

.item ::-webkit-input-placeholder {
  color: #edd;
}

.item :-moz-placeholder { /* Firefox 18- */
  color: #edd;
}

.item ::-moz-placeholder {  /* Firefox 19+ */
  color: #edd;
}

.item :-ms-input-placeholder {
  color: #edd;
}

.upcoming-datetime {
  float: left;
}

.upcoming-content {
  float: left;
  margin-left: 22%;
  margin-top: 2%;
  font-size: 2em;
}
