<ion-view view-title="Settings">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">Your info</div>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="data.username" type="text" disabled>
      </label>
      <label class="item item-input">
          <span class="input-label">Device ID: </span>
          <input ng-model="data.deviceId" type="text" disabled>
      </label>
      <div class="item item-divider">Change password</div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Current Password</span>
        <input ng-model="data.password" type="password" placeholder="Current password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">New Password</span>
        <input ng-model="data.password" type="password" placeholder="New password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">New Password (Confirmation)</span>
        <input ng-model="data.passwordConf" type="password" placeholder="Current password (confirmation)">
      </label>
      <button ng-click="updatePassword()" class="button button-block button-positive">
        Save settings!
      </button>
    </div>
    <div class="list card">
      <div class="item item-divider">Dev Status Messages</div>
      <div class="item item-body">
        <div id="dev-messages">

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
