<ion-view view-title="Splash">
  <ion-content class="splash padding">
    <div class="login">
      <div class="login-box">
        <img src="img/proximate-blueOnWhite2.png">
        <h1>proximate<span class="io">.io</span></h1>
        <h4>AUTOMATED ATTENDANCE</h4>
<!--         <div class='divider'></div> -->
      </div>
      <div class="box-container">
        <div class="input-box">
          <span><i class="icon ion-at"></i></span>
          <input ng-model="data.email" type="email" placeholder="email" class="register">
        </div>
        <div class="input-box">
            <span><i class="icon ion-lock-combination"></i></span>
            <input ng-model="data.password" type="password" placeholder="password" class="register">
        </div>
      </div>
      <div class="input-button">
        <div class="login-button" ng-click="register()">login</div>
<!--         <button ng-click="register()" class="button button-block">
          Login
        </button> -->
      </div>
      <div class="splash-error" ng-show="error">{{error}}</div>
    </div>
  </ion-content>
</ion-view>
