<ion-view view-title="Current">
  <ion-content class="padding status">
  <ion-refresher pulling-text="pull to refresh" on-refresh="doRefresh()">
  </ion-refresher>
  <div class="row">
    <div class="col col-10"></div>
    <div class="col col-80"><h3 class="status-heading">hack reactor</h3></div>
    <div class="col col-10"></div>
  </div>

  <div class="row">
    <div class="col-10"></div>
    <div class="col col-80">
      <div class="checkin-status">
          <div class="checkin-status-loading" ng-show="event.status===''" ng-cloak><i class="ion-loop"></i></div>
          <div class="checkin-status-notyet" ng-show="event.status===null||event.status==='null'" ng-cloak><i class="ion-close-round"></i>not checked in</div>
          <div class="checkin-status-here" ng-show="event.status==='ontime'" ng-cloak><i class="ion-checkmark-round"></i>checked in</div>
          <div class="checkin-status-late" ng-show="event.status==='late'" ng-cloak><i class="ion-alert-circled"></i>late</div>
        </div>
      </div>
    <div class="col-10"></div>
  </div>

  <div class="row">
    <div class="col col-10"></div>
    <div class="col col-80">
      <h2 class="status-heading">{{event.name}}</h2>
      <h3 class="status-heading">{{event.pretty_time}}</h3>
    </div>
    <div class="col col-10"></div>
  </div>

  </ion-content>
</ion-view>
