
<div class="events content">
  <h1>Input Beacon Information</h1>
  <form novalidate class="simple-form ui form">
    Identifier:
    <input type="text" ng-model="beacon.identifier" />
    <br />
    UUID:
    <input type="text" ng-model="beacon.uuid" />
    <br />
    Major:
    <input type="number" ng-model="beacon.major" /><br />
    Minor:
    <input type="number" ng-model="beacon.minor" /><br />
    <input class="ui submit button" type="submit" ng-click="addBeacon(beacon)" value="submit" />
  </form>
  <hr>
  <h3>My Beacons</h3>
  <table class="ui celled table sortable">
    <thead>
      <tr>
        <th class="left align">Identifier</th>
        <th class="left align">UUID</th>
        <th class="left align">Major</th>
        <th class="left align">Minor</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="beacon in beaconsData">
        <td class="username">{{beacon.identifier}}</td>
        <td class="mail">{{beacon.uuid}}</td>
        <td class="participantStatus">{{beacon.major}}</td>
        <td class="participantStatus">{{beacon.minor}}</td>
      </tr>
    </tbody>
  </table>
</div>
