<div class="events content">
  <div class="beaconsHeader">
    <h1>Beacons</h1>
    <div class="addBeacon-toggle ui small labeled blue icon button" ng-click="showAddBeacon()">
      <i class="icon plus"></i>
      Add a beacon
    </div>
  </div>
  <div class="addBeacon">
    <h3>Add a new beacon</h3>
    <div novalidate class="ui form segment">
      <div class="bigFields">
        <input class="ui input fluid" type="text" ng-model="beacon.identifier" placeholder="Identifier" />
        <div class="ui divider"></div>
        <input class="ui input fluid" type="text" ng-model="beacon.uuid" placeholder="UUID" />
        <div class="ui divider"></div>
      </div>
      <div class="inline fields">
        <div class="field">
          <input class="ui input" type="number" ng-model="beacon.major" placeholder="Major"/>
        </div>
        <div class="field">
          <input class="ui input" type="number" ng-model="beacon.minor" placeholder="Minor"/>
        </div>
      </div>
      <div class="buttons">
        <a class="ui small icon button" type="cancel" ng-click="hideAddBeacon()">Cancel</a>
        <a class="ui small icon blue button" type="submit" ng-click="addBeacon(beacon)" value="submit">Add this beacon</a>
      </div>
    </div>
  </div>
  <table class="adminTable">
    <thead>
      <tr>
        <th>Identifier</th>
        <th>UUID</th>
        <th>Major</th>
        <th>Minor</th>
      </tr>
    </thead>
    <tbody>
      <tr class="adminRow" ng-repeat="beacon in beaconsData">
        <td class="username">{{beacon.identifier}}</td>
        <td class="mail">{{beacon.uuid}}</td>
        <td class="participantStatus">{{beacon.major}}</td>
        <td class="participantStatus">{{beacon.minor}}</td>
      </tr>
    </tbody>
  </table>
</div>
