<div class="events content">
  <div ng-show="currentEvent.name">
    <h1>{{currentEvent.name}}{{currentEvent.start_time | date:' M/d/yy h:mm a'}}</h1>
    <h3>
      <a ui-sref="projector">Projector View</a>
      <a href="#" ng-click="getEventRoster($event, 'current')">Roster</a>
    </h3>
    <hr>
  </div>
  <h3>Events</h3>
  <div class="events-table-controls ">
    <div class="time-select">
      <a ng-click="setDisplayFilter('future')">Upcoming</a>
      <a ng-click="setDisplayFilter('past')">Past</a>
    </div>
  </div>
  <table class="ui celled table sortable">
    <thead>
      <tr>
        <th class="left align">Date</th>
        <th class="left align">Event Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in events | filterByTime:{time: displayFilter}">
        <td class="username">{{event.start_time | date:'MMM d, y, h:mm:ss a'}}</td>
        <td class="participantStatus"><a href="#" ng-click="getEventRoster($event, event.id)">{{event.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
