<div class="events content">
  <div class="current-event-card" ng-show="currentEvent.name">
    <div>
      <div class="title">
        <h2>{{currentEvent.name}}</h2>
        <h5>{{currentEvent.start_time | date:'MMM d, y, h:mm a'}}</h5>
      </div>
      <div class="checkIn">
        <h2>{{checkedInUserCount}} / {{totalUserCount}}</h2>
        <h5>Checked In</h5>
      </div>
      <div class="buttons">
        <a href="#" ui-sref="admin.roster({eventId: 'current'})" class="ui small icon blue button">
          <i class="user icon"></i>
          Roster
        </a>
        <a href="#" ui-sref="projector({eventId: 'current'})" class="ui small icon blue button">
          <i class="desktop icon"></i>
          Projector
        </a>
        <a href="{{event.htmlLink}}" target="top" class="ui small icon blue button">
          <i class="google icon"></i>
          GCal
        </a>
      </div>
    </div>
  </div>
  <div class="tableControls">
    <div class="ui icon input small filterbox">
      <input placeholder="search" type="text" ng-model="search" />
      <i class="search icon"></i>
    </div>
    <ul class="timeSelect">
      <li class="selected">
        <a ng-click="setDisplayFilter('all')">All</a>
      </li>
      <li>
        <a ng-click="setDisplayFilterTime('future')">Upcoming</a>
      </li>
      <li>
        <a ng-click="setDisplayFilterTime('past')">Past</a>
      </li>
      <li>
        <a class="cancel" ng-click="setDisplayFilterStatus('cancelled')">Cancelled</a>
      </li>
    </ul>
    <ul class="syncEvents">
      <li><a >
        <a ng-click="getCurrentEventData()" class="ui icon button basic">
          <i class="ui refresh icon"></i>
        </a>
      </li>
    </ul>
  </div>
  <table class="adminTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr class="adminRow" ng-repeat="event in events | filterByTime: displayFilterTime | filter: search | filterByStatus: displayFilterStatus | orderBy: '-start_time'">
        <td ui-sref="admin.roster({eventId: event.id})" class="eventName"><a>{{event.name}}</a></td>
        <td ui-sref="admin.roster({eventId: event.id})" class="eventTime">{{event.start_time | date:'fullDate'}}</td>
        <td class="eventAdmin">
          <div class="ui icon buttons basic">
            <a class="ui icon button" ui-sref="admin.roster({eventId: event.id})">
            <i class="user icon"></i>
            </a>
            <a class="ui icon button" ui-sref="projector({eventId: event.id})">
            <i class="desktop icon"></i>
            </a>
            <a href="{{event.htmlLink}}" target="top" class="ui icon button">
              <i class="google icon"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
