<div class="events content">
  <div class="current-event-card">
    <div ng-show="currentEvent.name">
    <div class="title">
      <h2>{{currentEvent.name}}</h2>
      <h5>{{currentEvent.start_time | date:'MMM d, y, h:mm a'}}</h5>
    </div>
    <div class="checkIn">
      <h2>18 / 31</h2>
      <h5>Checked-In</h5>
    </div>
    <div class="buttons">
      <a href="#" class="ui labeled icon blue button">
        <i class="user icon"></i>
        Roster
      </a>
      <a href="#" class="ui labeled icon blue button">
        <i class="desktop icon"></i>
        Projector
      </a>
    </div>


      <h3>
   <!--      <a ui-sref="projector">Projector View</a>
        <a href="#" ng-click="getEventRoster($event, 'current')">Roster</a> -->
      </h3>
    </div>
  </div>
  <div class="tableControls">
    <div class="ui icon input small filterbox">
      <input placeholder="search" type="text" ng-model="search" />
      <i class="search icon"></i>
    </div>
    <div class="timeSelect">
      <a href="#" ng-click="setDisplayFilter('future')">Upcoming</a><span class="text"> | </span>
      <a href="#" ng-click="setDisplayFilter('past')">Past</a>
    </div>
  </div>
  <table class="adminTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in events | filterByTime: displayFilter | filter: search">
        <td class="eventName"><a href="#" ng-click="getEventRoster($event, event.id)">{{event.name}}</a></td>
        <td class="eventTime">{{event.start_time | date:'MMM d, y, h:mm a'}}</td>
        <td class="eventAdmin">
          <div class="ui icon buttons basic">
            <a href="#" class="ui icon button" ng-click="getEventRoster($event, event.id)">
              <i class="user icon"></i>
            </a>
            <a href="#" class="ui icon button" ng-click="getProjector($event, event.id)">
              <i class="desktop icon"></i>
            </a>
            <a href="{{event.htmlLink}}" target="top" class="ui icon button">
              <i class="google icon"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
