<div class="events content">
  <div class="participantHeader">
    <h1>Attendance history for <i>{{participantInfo.name}}</i></h1>
    <div id="chart" class="chart">
      <div id="history-stats-ontime" class="history-stats"></div>
      <div id="history-stats-late" class="history-stats"></div>
      <div id="history-stats-absent" class="history-stats"></div>
    </div>
  </div>
  <table class="adminTable">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="adminRow" ng-repeat="data in eventHistory">
        <td ui-sref="admin.roster({eventId: data.event.id})">{{data.event.name}}</td>
        <td>{{data.event.start_time | date:'MMM d, y, h:mm a'}}</td>
        <td ng-if="data.status !== null && data.status !== 'null'" class="setStatus-cell" ng-class="{'ontime': data.status === 'ontime', 'late': data.status === 'late', 'excused': data.status === 'excused', 'absent': data.status === null || data.status === 'null'}">{{data.status}}</td>
        <td ng-if="data.status === null || data.status == 'null'" class="setStatus-cell" ng-class="{'ontime': data.status === 'ontime', 'late': data.status === 'late', 'excused': data.status === 'excused', 'absent': data.status === null || data.status === 'null'}">absent</td>
      </tr>
    </tbody>
  </table>
</div>
