<div class="events content">
  <div class="participantHeader">
    <h1>Attendance history for <i>{{participantInfo.name}}</i></h1>
    <div id="chart" class="chart">
      <div id="history-stats-ontime" class="history-stats"></div>
      <div id="history-stats-late" class="history-stats"></div>
      <div id="history-stats-excused" class="history-stats"></div>
      <div id="history-stats-absent" class="history-stats"></div>
    </div>
  </div>
  <table class="adminTable">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="adminRow" ng-repeat="data in eventHistory | orderBy: '-start_time'"">
        <td ui-sref="admin.roster({eventId: data.event.id})">{{data.event.name}}</td>
        <td>{{data.event.start_time | date:'fullDate'}}</td>
        <td data-title="'Status'" class="setStatus-cell" ng-class="{'ontime': data.status === 'ontime', 'late': data.status === 'late', 'excused': data.status === 'excused', 'absent': data.status === null || data.status == 'null'}" ng-click="participant.$edit = true">
          <span ng-if="!participant.$edit &&data.status !== null &&data.status !== 'null'"><i class="edit icon setStatus-icon"></i>{{data.status}}</span>
          <span ng-if="!participant.$edit && (data.status === null || data.status == 'null')"><i class="edit icon setStatus-icon"></i>absent</span>
          <div ng-if="participant.$edit">
            <select id="setStatus" class="" ng-model="data.status" ng-change="participant.$edit = false; updateParticipantStatus(data)">
               <option value="late">Late</option>
               <option value="ontime">Ontime</option>
               <option value="excused">Excused</option>
               <option value="null">Absent</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
