<div class="events content">
  <div class="rosterHeader">
    <h1>{{event.name}}</h1>
    <p class="admin-time">{{event.start_time | date:'EEE, MMM d, h:mm a'}}</p>
  </div>
  <div class="tableControls">
    <div class="ui icon input small filterbox">
      <input placeholder="search" type="text" ng-model="search" />
      <i class="search icon"></i>
    </div>
  </div>
  <table class="adminTable">
    <thead>
      <tr>
        <th>Participant</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="adminRow" ng-repeat="participant in participants | filter: search">
        <td data-title="'Name'">
          <span><a ui-sref="admin.participant({participantId: participant.id})" class="participantName">{{participant.name}}</a></span>
        </td>
        <td data-title="'Email'">
          <span class="participantEmail">{{participant.email}}</span>
        </td>
        <td data-title="'Status'" class="setStatus-cell" ng-class="setClassForStatus(participant._pivot_status)" ng-click="participant.$edit = true">
          <span ng-if="!participant.$edit && participant._pivot_status !== null && participant._pivot_status !== 'null'"><i class="edit icon setStatus-icon"></i>{{participant._pivot_status}}</span>
          <span ng-if="!participant.$edit && (participant._pivot_status === null || participant._pivot_status == 'null')"><i class="edit icon setStatus-icon"></i>absent</span>
          <div ng-if="participant.$edit">
            <select id="setStatus" class="" ng-model="participant._pivot_status" ng-change="participant.$edit = false; updateParticipantStatus(participant)">
               <option value="late">Late</option>
               <option value="ontime">Ontime</option>
               <option value="excused">Excused</option>
               <option value="null">Absent</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
