<div class="events content">
  <h1>{{event.name}}</h1>
  <p class="admin-time">{{event.start_time | date:'h:mm a, MMMM dd, yyyy'}}</p>
  <table ng-table="tableParams" class="ui celled table sortable">
    <thead>
      <tr>
        <th class="left align">Participant</th>
        <th class="left align">Email</th>
        <th class="left align">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="participant in participants">
        <td data-title="'Name'">
          <span><a ui-sref="admin.participant({participantId: participant.id})">{{participant.name}}</a></span>
        </td>
        <td data-title="'Email'">
          <span>{{participant.email}}</span>
        </td>
        <td data-title="'Status'" ng-class="{'positive': participant._pivot_status === 'ontime', 'negative': participant._pivot_status === 'late', 'warning': participant._pivot_Status === 'null'}">
          <span ng-if="!participant.$edit">{{participant._pivot_status}}</span>
          <div ng-if="participant.$edit">
            <select class="form-control" ng-model="participant._pivot_status">
               <option value="late">Late</option>
               <option value="ontime">Ontime</option>
               <option value="excused">Excused</option>
               <option value="absent">Absent</option>
            </select>
          </div>
        </td>
        <td data-title="'Actions'" width="200">
          <a ng-if="!participant.$edit" href="" ng-click="participant.$edit = true">Edit</a>
          <a ng-if="participant.$edit" href="" ng-click="participant.$edit = false; updateParticipantStatus(participant)">Save</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
