<div class="admin">
  <div class="logo">
    <ul class="nav">
      <li>Proximate</li>
    </ul>
  </div>
  <div class="userinfo">
    <ul class="nav">
      <li><a href="#">{{adminInformation.data.name}}</a></li>
    </ul>
  </div>
  <div class="ui vertical menu">
    <a class="item">
      Events
      <div class="ui"></div>
    </a>
    <a class="active item">
      Beacons
      <div class="ui"></div>
    </a>
  </div>
  <div class="events content">
    <h1>Input Beacon Information</h1>
    <h3>
    <hr>
    <h3>Upcoming Events</h3>
    <hr>
    <h3>Past Events</h3>
    <table class="ui celled table sortable">
      <thead>
        <tr>
          <th class="left align">Date</th>
          <th class="left align">Time</th>
          <th class="left align">Event Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in eventsData | PastEvents">
          <td class="username">{{data.start_time | date:'M/d/yy'}}</td>
          <td class="mail">{{data.start_time | date:'h:mm a'}}</td>
          <td class="participantStatus"><a href="#">{{data.name}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
