<div class="admin">
  <div class="logo">
    <ul class="nav">
      <li>Proximate</li>
    </ul>
  </div>
  <div class="userinfo">
    <ul class="nav">
      <li><a href="#">{{adminInformation.data.name}}</a></li>
    </ul>
  </div>
  <div class="ui vertical menu">
    <a class="item" href="/#/events">
      Events
      <div class="ui"></div>
    </a>
    <a class="active item">
      Beacons
      <div class="ui"></div>
    </a>
  </div>
  <div class="events content">
    <h1>Input Beacon Information</h1>
    <form novalidate class="simple-form ui form">
      Identifier:
      <input type="text" ng-model="user.identifier" />
      <br />
      UUID:
      <input type="text" ng-model="user.uuid" />
      <br />
      Major:
      <input type="number" ng-model="user.major" /><br />
      Minor:
      <input type="number" ng-model="user.minor" /><br />
      <input class="ui submit button" type="submit" ng-click="postBeacons(user)" value="submit" />
    </form>
    <hr>
    <h3>My Beacons</h3>
    <table class="ui celled table sortable">
      <thead>
        <tr>
          <th class="left align">Identifier</th>
          <th class="left align">UUID</th>
          <th class="left align">Major</th>
          <th class="left align">Minor</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in beaconsData">
          <td class="username">{{data.identifier}}</td>
          <td class="mail">{{data.uuid}}</td>
          <td class="participantStatus">{{data.major}}</td>
          <td class="participantStatus">{{data.minor}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
