<div class="leftMenu">
  <ul class="nav">
    <li><a href="#">Links</a></li>
  </ul>
</div>
<div class="rightMenu">
  <ul class="nav">
    <li><a href="#">Other stuff</a></li>
  </ul>
</div>
<div class="event">
  <h3>{{eventData.data.name}} Begins</h3>
</div>
<div class="time">
   <h3 ng-show="timeDiffLessThanHour">
   	{{eventData.data.start_time | fromNow:clock}}</h3>
   <h3 ng-show="timeDiffMoreThanHour">{{eventData.data.start_time | date:"h:mm a"}}</h3>
</div>
<div class="participants">
  <h3>Have Not Checked In</h3>

  <div class="status">
    <ul>
      <li ng-repeat="data in participantData | removeArrivedParticipants">
       <a href="#">{{data.name}}</a>
      </li>
    </ul>
  <div>


</div>
