<div class="admin">
  <div class="logo">
    <ul class="nav">
      <li>Proximate</li>
    </ul>
  </div>
  <div class="userinfo">
    <ul class="nav">
      <li><a href="#">{{adminInformation.data.name}}</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>{{eventData.data.name}}{{eventData.data.start_time | date:' M/d/yy h:mm a'}}</h1>
    <table class="ui table sortable">
      <thead>
        <tr>
          <th class="left align">Date</th>
          <th class="left align">Time</th>
          <th class="left align">Event Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in events | CurrentEvents">
          <td class="username">{{data.start_time | date:'M/d/yy'}}</td>
          <td class="mail">{{data.start_time | date:'h:mm a'}}</td>
          <td class="participantStatus">{{data.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
