<div class="admin">
  <div class="logo">
    <ul class="nav">
      <li>Proximate</li>
    </ul>
  </div>
  <div class="userinfo">
    <ul class="nav">
      <li><a href="#">{{adminInformation.data.name}}</a></li>
    </ul>
  </div>
  <div class="ui vertical menu">
    <a class="active item">
      Events
      <div class="ui"></div>
    </a>
    <a class="item" href="/#/beacons">
      Beacons
      <div class="ui"></div>
    </a>
  </div>
  <div class="events content">
    <h1>Attendance history for <i>{{participantInfo.name}}</i></h1>
    <!-- <div class="chart">
      <div id="chart"></div>
    </div> -->
    <div class="chart2">
      <div id="history-stats-ontime" class="history-stats"></div>
      <div id="history-stats-late" class="history-stats"></div>
      <div id="history-stats-absent" class="history-stats"></div>
    </div>
    <table class="ui celled table sortable">
      <thead>
        <tr>
          <th class="left align">Date</th>
          <th class="left align">Event Name</th>
          <th class="left align">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in eventHistory">
          <td class="username">{{data.event.start_time | date:'MMM d, y, h:mm a'}}</td>
          <td class="participantStatus">{{data.event.name}}</td>
          <td class="participantStatus" ng-class="{'positive': data.status === 'ontime', 'negative': data.status === 'late', 'warning': data.status === 'null'}">{{data.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
