<div class="container">
  <div class="background"></div>
  <div class="leftMenu">
    <ul class="nav">
      <li><a href="#">Links</a></li>
    </ul>
  </div>
  <div class="rightMenu">
    <ul class="nav">
      <li><a href="#">Other stuff</a></li>
    </ul>
  </div>
  <div class="event">
    <h3 ng-show="timeDiffLessThanHourBefore">{{eventData.data[0].name}} Starts In</h3>
    <h3 ng-show="timeDiffMoreThanHourBefore">{{eventData.data[0].name}} Starts At</h3>
    <h3 ng-show="timeDiffAfter">{{eventData.data[0].name}} Started At</h3>
  </div>
  <div class="time">
     <h1 ng-show="timeDiffLessThanHourBefore">{{eventData.data[0].start_time | date:"h:mm a"}}</h1>
     <h1 ng-show="timeDiffMoreThanHourBefore">{{eventData.data[0].start_time | fromNow:clock}}</h1>
     <h1 ng-show="timeDiffAfter">{{eventData.data[0].start_time | date:"h:mm a"}}</h1>

  </div>
  <div class="participants">
    <div class="status">
      <ul>
        <li ng-repeat="data in participantData | removeArrivedParticipants" class="repeated-item">
         <a>{{data.name}}</a>
        </li>
      </ul>
    </div>
    <h3>Have Not Checked In</h3>
  </div>
</div>
