<div class="admin">
  <ng-include src="'/views/partials/topnav.html'"></ng-include>
  <ng-include src="'/views/partials/sidebar.html'"></ng-include>
  <div class="events content">
    <h1>{{eventData.data[0].name}}</h1>
    <p class="admin-time">{{eventData.data[0].start_time | date:'h:mm a, MMMM dd, yyyy'}}</p>
    <a ng-mousedown="csv.generate()" ng-href="{{csv.link()}}" download="test.csv">Export to CSV</a>
    <table ng-table="tableParams" export-csv="csv" class="ui celled table sortable">
      <thead>
        <tr>
          <th class="left align">Participant</th>
          <th class="left align">Email</th>
          <th class="left align">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in participantData">
          <td data-title="'Name'">
            <span><a ng-click="showParticipantHistory(data.id)">{{data.name}}</a></span>
          </td>
          <td data-title="'Email'">
            <span>{{data.email}}</span>
          </td>
          <td data-title="'Status'" ng-class="{'positive': data._pivot_status === 'ontime', 'negative': data._pivot_status === 'late', 'warning': data._pivot_Status === 'null'}">
            <span ng-if="!data.$edit">{{data._pivot_status}}</span>
            <div ng-if="data.$edit">
              <select class="form-control" ng-model="data._pivot_status">
                 <option value="late">Late</option>
                 <option value="ontime">Ontime</option>
                 <option value="excused">Excused</option>
                 <option value="absent">Absent</option>
              </select>
            </div>
          </td>
          <td data-title="'Actions'" width="200">
            <a ng-if="!data.$edit" href="" ng-click="data.$edit = true">Edit</a>
            <a ng-if="data.$edit" href="" ng-click="data.$edit = false; updateParticipantStatus(data.id, data._pivot_event_id, data._pivot_status)" >Save</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
